@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@import "../vars";

html, body, #root, .App {
	width: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: $invertedBackgroundColor;
	color: $invertedTextColor;
}

.App {
	display: flex;
	flex-direction: row;
	width: 100%;

	.NavMenu {
		width: 250px;
	}

	&__main {
		flex: 1;

		a {
			color: darken($invertedTextColor, 20%);
			font-weight: bold;
			text-decoration: none;
		}
	}
}
