/build
/src/Generator

/.idea
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
docs*.json
yarn.lock
publishNewVersion.sh
.editorconfig
testdocs
/dist

.devcontainer
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc.js
.vscode
