@import "../vars";

.Button {
	@include button();
	font: inherit;
	border: 1px solid $borderColor;
	transition: color .3s ease-in-out, border-color .3s ease-in-out;
	background: none;
	outline: none;
	margin-right: .3em;

	&--small {
		padding: 1px;
		border-radius: 5px;
	}

	&:hover, &:active, &:focus {
		color: $focusAccentColor;
		border-color: $focusAccentColor;
	}

	&--primary, &--danger, &--twitch {
		color: white;
		transition: background-color .3s ease-in-out, border-color .3s ease-in-out;

		&:hover, &:active, &:focus {
			color: white;
		}
	}

	&--primary {
		background-color: $accentColor;
		border-color: $accentColor;

		&:hover, &:active, &:focus {
			background-color: $focusAccentColor;
			border-color: $focusAccentColor;
		}
	}

	&--danger {
		background-color: $dangerColor;
		border-color: $dangerColor;

		&:hover, &:active, &:focus {
			background-color: $focusDangerColor;
			border-color: $focusDangerColor;
		}
	}

	&--twitch {
		background-color: $twitchColor;
		border-color: $twitchColor;

		&:hover, &:active, &:focus {
			background-color: $focusTwitchColor;
			border-color: $focusTwitchColor;
		}
	}
}
