@import "../../vars";

.DataTable {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table;

	&__head {
		display: table-header-group;
	}

	&__row {
		display: table-row;
		&--head {
			border-bottom: 2px solid $borderColor;
		}
	}

	&__rowAddition {
		display: table-row;
	}

	&__body {
		display: table-row-group;
		.DataTable__row:nth-child(odd) {
			background-color: $greyAccentColor;
		}
	}

	&__cell {
		border: 1px solid $borderColor;
		padding: .5em;
		display: table-cell;

		&--head {
			text-align: left;
			font-weight: bold;
		}
	}
}

.Pagination {
	list-style: none;
	padding: 0;
	display: inline-table;
	border-collapse: collapse;

	&__page, &__button {
		display: table-cell;
		border: 1px solid $borderColor;
		transition: color .2s ease-in-out;

		a {
			display: block;
			padding: .5em .75em;
			cursor: pointer;
			transition: background-color .2s ease-in-out;
		}

		&--active {
			a {
				cursor: default;
				background-color: $greyAccentColor;
			}
		}

		&--disabled {
			color: $borderColor;

			a {
				cursor: not-allowed;
			}
		}
	}

	&__page {
		&:not(&--active):hover {
			a {
				background-color: $borderColor;
			}
		}
	}

	&__button {
		&:not(&--disabled):hover {
			a {
				background-color: $borderColor;
			}
		}
	}
}


