@import "compass";

$invertedBackgroundColor: #141414;
$invertedBackgroundColorHover: #333333;
$invertedBackgroundColorActive: #242424;
$invertedTextColor: #b9b9b9;
$invertedBorderColor: #444;
$borderColor: #ccc;

$accentColor: #647d0f;
$focusAccentColor: lighten($accentColor, 10);

$codeFonts: Monaco, Menlo, "Lucida Console", monospace;

@mixin button() {
	display: inline-block;
	padding: .4em .8em;
	border-radius: 5px;
	cursor: pointer;
	@include user-select(none);
}
