@import "../../vars";

.Card {
	margin: 1em;
	padding: 1em;
	border: 1px solid $invertedBorderColor;

	h3, h4 {
		margin: 0;
	}

	&__deprecationNotice {
		color: #aa0000;

		strong {
			text-transform: uppercase;
		}

		p {
			display: inline;
		}
	}
}
