@import "../../vars";

.PageHeader {
	border-bottom: 1px solid $invertedBorderColor;
	padding: 1em;
	position: relative;
	background-color: $invertedBackgroundColorActive;
	color: $invertedTextColor;

	h1 {
		font-weight: normal;
		margin: 0;
		font-size: 1.5em;
		display: inline;
	}

	p {
		margin: 0;
	}

	.Button {
		position: absolute;
		right: 1em;
		top: 1em;
	}
}
